---
- name: Disable and stop systemd service unit
  systemd:
    name: "katuma_reports_unicorn.service"
    enabled: false
    state: stopped

- name: Remove katuma_reports directories
  file:
    path: "{{ item }}"
    state: absent
    owner: "{{ unicorn_user }}"
  with_items:
    - "{{ app_path }}"
    - "{{ shared_path }}"
    - "{{ config_path }}"
    - "{{ sockets_path }}"
    - "{{ log_path }}"
    - "{{ pids_path }}"

- name: Remove systemd service unit
  file:
    path: "/etc/systemd/system/katuma_reports_unicorn.service"
    state: absent

- name: Remove custom nginx configuration directory
  file:
    path: "/etc/nginx/sites-available/ofn"
    state: absent
  notify:
    - reload nginx

- name: Remove nginx server configuration
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "/etc/nginx/conf.d/katuma_reports_upstream.conf"
    - "/etc/nginx/sites-available/ofn/katuma_reports.conf"
  notify:
    - reload nginx
